@font-face {
  font-family: 'xkeeper';
  src: url('fonts/xkeeper.eot?ftzoz9');
  src:
    url('fonts/xkeeper.eot?ftzoz9#iefix') format('embedded-opentype'),
    url('fonts/xkeeper.ttf?ftzoz9') format('truetype'),
    url('fonts/xkeeper.woff?ftzoz9') format('woff'),
    url('fonts/xkeeper.svg?ftzoz9#xkeeper') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xkeeper' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-circle:before {
  content: '\e900';
  color: #f04438;
}
.icon-arrow-left:before {
  content: '\e901';
  color: #98a2b3;
}
.icon-arrow-right:before {
  content: '\e902';
  color: #d0d5dd;
}
.icon-check:before {
  content: '\e903';
  color: #5777eb;
}
.icon-check-circle:before {
  content: '\e904';
  color: #039855;
}
.icon-chevron-down:before {
  content: '\e905';
  color: #98a2b3;
}
.icon-chevron-right:before {
  content: '\e906';
  color: #d0d5dd;
}
.icon-close:before {
  content: '\e907';
  color: #667085;
}
.icon-copy:before {
  content: '\e908';
  color: #98a2b3;
}
.icon-exclamation-triangle:before {
  content: '\e909';
  color: #93370d;
}
.icon-external-link:before {
  content: '\e90a';
  color: #98a2b3;
}
.icon-menu:before {
  content: '\e90b';
  color: #98a2b3;
}
.icon-mobile-menu:before {
  content: '\e90c';
  color: #344054;
}
.icon-moon:before {
  content: '\e90d';
  color: #667085;
}
.icon-owned:before {
  content: '\e90e';
  color: #444ce7;
}
.icon-pencil-square:before {
  content: '\e90f';
  color: #98a2b3;
}
.icon-plus:before {
  content: '\e910';
  color: #fff;
}
.icon-safe:before {
  content: '\e911';
  color: #98a2b3;
}
.icon-search:before {
  content: '\e912';
  color: #98a2b3;
}
.icon-sun:before {
  content: '\e913';
  color: #98a2b3;
}
.icon-x-circle:before {
  content: '\e914';
  color: #d92d20;
}
